@charset "utf-8";

:root {
    --app-black: #1c1d20;
    --app-white: #fff;
    --app-orange: #ffb328;
    --app-section-space: 50px;
}

.container {
    width: min(100% - 20px, 1100px);
    margin-inline: auto;
}
